#shape {
    width: 100px;
    height: 100px;
    background-color: red;
    display: none;
    position: relative;
}

header {
    
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}

times {
    float: left;
    display: inline-flex;
}
